/* 
* @Author: Marte
* @Date:   2016-12-01 00:49:25
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-15 00:05:29
*/
header{border-bottom: 1px solid #eee;box-shadow: 0px 2px 6px rgba(0,0,0,.3);padding: 10px 80px;}
section{position:relative;top:0;margin-bottom:10px;}
/* 表单样式 */
.form{text-align:center;padding-top:60px;}
section form{max-width:400px;margin:0 auto;min-width: 400px;}
form .form-head{position:relative;text-align:left;}
form .form-head .newMan{display:block;font-size:22px;}
form .form-head span:last-child{color:#737373;font-size:12px;position:absolute;top: 10px;right:0;}
form a:hover{color:red;}
form .list{margin-top:32px;position:relative;line-height:52px;border:1px solid #eee;}
form .list span{width:110px;position:absolute;top: 0;left:0;text-align:center;font-size:14px;}
form .list input{width:72%;line-height:52px;padding-left:110px;border:none;outline:none;}
.hide{position:absolute;width:72%;height:52px;left:110px;top: 0;line-height:52px;color:#b6a9b9;font-size:14px;background-color:#fff;text-align:left;}
.select{width:72%;position:absolute;right:0;top: 52px;background-color:#fff;z-index:4;border:1px solid #eee;border-top:none;transition:all .3s;display:none;}
.select li{height:30px;line-height:30px;text-align:center;}
.select li:hover{background-color:#eee;}
.select li:hover a{color:red;}
.select li a{color:#9e9e9e;font-size:14px;}
form .loginBtn{color:#fff;background-color:#3887d6;line-height:52px;height:52px;text-align:center;cursor:pointer;font-size:18px;margin-top:32px;width:100%;}
.icon{position: absolute;z-index:444;right: 8px;font-size: 24px;top: 2px;color: #b6a9b9;display:none;}
