html,body{margin:0 auto;padding:0;font-family:Arial,'Microsoft Yahei';}
ul,li,dd,dt,dl,a,span,i,h1,h2,h3,h4,h5,h6,input,form,th,td,tr,p{margin:0;padding:0;list-style:none;text-decoration:none;}
img{border:none;}
i{font-style:normal;}
input{font-family:Microsoft Yahei;}
a{color:#333;}
header a:hover{color:red;}
@font-face {
  font-family: 'iconfont';  /* project id 185257 */
  src: url('http://at.alicdn.com/t/font_fpxdnlrx1h3hm2t9.eot');
  src: url('http://at.alicdn.com/t/font_fpxdnlrx1h3hm2t9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_fpxdnlrx1h3hm2t9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_fpxdnlrx1h3hm2t9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_fpxdnlrx1h3hm2t9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.minWidth{min-width:1200px;}
/* 登录条 */
.head-top{width:100%;height:33px;background-color:#f7f7f7;border-bottom:1px solid #eee;color:#666;line-height:33px;font-size:12px;min-width:1200px;}
.commom{min-width:1200px;margin:0 auto;padding:0 80px;box-sizing:border-box;}
.head-top .top-wrapper .top-left{float:left;}
.head-top .top-wrapper .top-left a{padding:0 auto;}
.head-top .top-wrapper ul{float:right;}
.head-top .top-wrapper ul li{float:left;position:relative;padding:0 14px;}
.head-top .top-wrapper ul li:hover{border-left:1px solid #eee;border-right:1px solid #eee;background-color:#fff;}
.head-top .top-wrapper ul li:hover .hide{display:block;}
.head-top .top-wrapper ul li:hover dl{display:block;}
.head-top .top-wrapper ul li dl{position:absolute;top: 33px;left:-1px;border:1px solid #eee;width:76px;text-align:center;display:none;z-index:444;}
.head-top .top-wrapper ul li dl dt{background-color:#fff;}
.head-top .top-wrapper ul li .hide{width:76px;height:4px;position:absolute;background-color: #fff;top: 32px;left:0;z-index:10;display:none;z-index:999;}
/* logo和搜索条 */
.head-logo{min-width:1200px;}
.head-logo .logo{width:280px; height:58px;margin-top:30px;position:absolute;left:80px;top: 0;}
.query{margin-left:500px;padding-top:35px;}
.query form{width:auto;}
.query span{text-align: right;padding-right:80px;display:block;font-size:12px;padding-top:4px;}
.query span a{color:#ababa9;margin-right:10px;}
.query span a:hover{color:#333;}
.query form input:first-child{width:100%;height:38px;margin-right:-104px;border:3px solid #004272;padding-left:15px;box-sizing:border-box;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:1px solid ease;-o-transition:all 1s ease;}
.query form input:last-child{width:100px;height:35px;margin-right:-100px;border:none;background-color:#004272;font-size:17px;text-align:center;color:#fff;}
.box{position:relative;}
.container .focus .focuspic li img{width:1920px;height:400px;}
/* 商品分类导航条 */
.nav{display:inline-flex;margin-top:10px;position:relative;}
.nav{border-bottom:2px solid #000;width:100%;background-color:#d9282a;}
/* .nav a:hover{background-color:#f3f3f3;} */
.nav .range{width:160px;height:36px;color:#fff;background-color:#000;font-size:17px;line-height:36px;position: relative;left:80px;}
.nav .range .goods{margin:10px;}
.nav .classify{margin-left:150px;font-size:16px;height:36px;line-height:36px;}
.nav .classify a{padding:0 20px;float:left;}
/* 轮播图的右导航 */
.nav .rightNav{position: absolute;right:80px;width:150px;background-color: rgba(15,15,15,.4);text-align: center;top:36px;z-index: 10;color:#e7e7e7;font-size:12px;padding:5px 0;}
.nav .rightNav:hover{background-color:rgba(15,15,15,.8);color:#fff;}
.nav .rightNav .navTop{border-bottom: 1px dashed #000;padding-top:6px;}
.nav .rightNav .navBottom{padding-top:10px;}
.nav .rightNav .navBottom a{display:block;color:#fff;}
.nav .rightNav .navBottom a i{margin-right:6px;}
.nav .rightNav .navBottom .special{display:block;margin:8px 0;}
.nav .rightNav .navBottom .special i{font-size:10px;margin-left:4px;}
.nav .rightNav .navBottom p:first-child{padding:6px 0;}
.nav .rightNav .navBottom p.active{background: rgba(15,15,15,.5);}
.nav .rightNav .navBottom .goods{margin:8px 0;display:block;}
.nav .rightNav .navBottom img{width:64px;height:64px;border-radius:50%;}
.nav .rightNav .navTop span{cursor:pointer;display:block;}
.nav .rightNav .navTop span.hi{display:block;padding-bottom:4px;}
.nav .rightNav .navTop span img{width: 70px;height: 70px;border-radius: 50%;}
.nav .rightNav .navTop span.btn{display:inline-block;font-size:12px;background-color:#DD2727;padding:4px 16px;border-radius:10px;color:#fff;margin-bottom:6px;}
.nav .rightNav .navTop span.free{background:none;}
.nav .rightNav .navTop span.btn:hover{text-decoration:underline;}
.nav .rightNav .navTop span.btn i{font-size:12px;margin-right:2px;}
.navTag{width:160px;background-color:rgba(15,15,15,.82);position:relative;z-index:999;top: 2px;}
.navTag ul li{width:160px;height:40px;line-height:39px;font-size:16px;border-bottom:1px solid rgba(255,255,255,.05);padding-left: 25px;box-sizing: border-box;}
.navTag ul li:hover{background-color:rgba(15,15,15,.2);}
.navTag ul li a{color:#fff;font-size:14px;font-weight:bold;}

.navTag ul li i{font-weight:normal;}
.navTag ul li a:hover{text-decoration:underline;}
.navTag ul li em{float:right;margin-right:10px;}
/* 列表分类 */
.variousFoods{position:absolute;left:160px;top:-2px;background-color:#fff;width:560px;height:402px;box-shadow:1px 1px 8px #999;transition:all 1s ease;display:none;z-index: 999;}
.variousFoods dl{float:left;width:40%;margin-left:0 10px;padding:10px 24px;}
.variousFoods dt{color:orange;border-bottom:1px solid #e7e7e7;height:30px;line-height:40px;}
.variousFoods dl dd{float:left;line-height:24px;padding:0 12px 0 4px;}
.variousFoods dl dd a{color:#e4e4e4;font-size:12px;color:#656565;padding-right: 12px;border-right: 1px solid #e4e4e4;}
.navTag ul li:hover .variousFoods{display:block;}
/* 轮播图 */
.container{width:100%;}
.focus{width:100%;height:400px;overflow:hidden;position:relative;}
.focus .slide-box div{position:absolute;height:100%;width:100%;background-repeat:no-repeat;background-position:center center;opacity:0;transition:all .5s;}
.focus .slide-box div.active{z-index:1;opacity:1;}
.focus .slide-focus{position: absolute;left:50%;bottom:25px;height:25px;z-index:444;cursor:pointer;margin-left:-51px;}
.focus .slide-focus span{width:12px;height:12px;background-color:rgba(0,0,0,.2);border:1px solid #eee;float:left;margin-right:20px;transition:all .6s;}
.divTurn{height: 60px;position: absolute;width: 100%;top: 50%;left: 0;margin-top: -30px;display: inline-block;line-height:60px;z-index:999;padding:0 246px;box-sizing:border-box;display:none;}
.divTurn span{display:inline-block;width:50px;height:50px;color:#fff;font-size:50px;background-color:rgba(0,0,0,.3);text-align: center;line-height:50px;cursor:pointer;outline:none;}
.divTurn span:hover{color:#ccc;}
.divTurn span#left{float:left;}
.divTurn span#right{float:right;}
.focus .slide-focus span.on{background-color:red;border:1px solid red;}

.winth{max-width:1190px;margin:0 auto;}
.wrapper{margin:20px auto 0 auto;}
.wrapper ul{float:left;}
.wrapper ul li{float:left;margin-right:14px;width:24%;margin-bottom:30px;}
.wrapper ul li:last-child{margin-right:0;}
.hot-title{margin-bottom:14px;}
.hot-title a{display:inline-block;height:30px;line-height: 43px;}
.hot-title a:first-child{font-size:26px;}
.hot-title a:first-child:hover{color:#333;}
.hot-title a:last-child{float:right;}
.hot-title a:last-child:hover{color:red;}
.hot-list{margin-bottom:20px;}
.hot-list ul{display:inline-block;width:100%;border:1px solid #eee;border-left:none;}
.hot-list li{float:left;width:20%;text-align:center;border-left:1px solid #eee;box-sizing:border-box;font-size:14px;}
.hot-list li a,.categories li a{display:block;padding-top:40px;padding-bottom:20px;}
.hot-list li p,.categories li p{height:24px;line-height:24px;}
.hot-list li p.word,.categories li p.word{padding-top:20px;}
.hot-list li p.price,.categories li p.price{color:#b81c22;}
.hot-list li img,.categories li img{width:146px;height:146px;transition:all .4s;}
.hot-list li:hover img{transform:scale(1.1);}
.hot-list li:hover p.word,.categories li:hover p.word{color:red;}
.category{background-color:#f5f5f5;}
.categories ul{display:inline-block;overflow:hidden;}
.categories li{float:left;width:19%;text-align:center;box-sizing:border-box;font-size:14px;margin-right:14px;background-color:#fff;margin-top:10px;}
.categories li:nth-child(5n){margin-right:0;}
.categories ul li a{transition:all .3s linear;}
.categories ul li:hover a{transform:translate3d(0px,-2px,0px);box-shadow:0px 15px 30px rgba(0,0,0,.1);}
.toys-title{padding-top:50px;display:inline-block;margin-bottom:-12px;}
.toys-title h2{margin-right:20px;float:left;font-weight:normal;}
.toys-title a{padding:0 10px;float:left;color:#999;font-size:14px;margin-top:6px;border-right:1px solid #eee;}
.toys-title a:hover{color:#555;}
.hot-pic{margin-bottom:20px;}
.categories{margin-top:40px;}
.category .bottom{margin-top:50px;padding-bottom:30px;}
/* 底部 */
footer{color:#b0b0b0;min-width: 1200px;position:relative;bottom:-160px;margin-bottom:20px;}
footer .foot-range{width:100%;padding-top:30px;padding-bottom:20px;border-bottom:1px solid #ddd;}
footer .foot-range ul{width:100%;display:inline-block;box-sizing:border-box;padding:0 50px;}
footer .foot-range li{float:left;width:25%;text-align:center;font-size:14px;transition:all .3s;cursor:pointer;}
footer .foot-range li:hover{color:#b81c22;}
footer .foot-range li i{font-size:42px;margin-right:10px;position:relative;top: 10px;}
footer p.friend-link.tl a {border-right: 1px solid #888;}
.foot-classify{box-sizing:border-box;padding:20px 156px 10px 156px;}
.foot-classify p{font-size:14px;color:#888;line-height:20px;}
.foot-classify p a{font-size:13px;padding:0 16px;color:#888;}
.foot-classify p a:hover{color:#b81c22;text-decoration:underline;}
/* 浮框 */
.rect{background-color:orange;color:#fff;font-size:24px;padding:16px 24px;text-align:center;position:fixed;top: 8%;left:50%;margin-left:-10%;transition:all .5s;}

.quick-nav{width:75px;position:fixed;right:0;top:20%;color:#333;background-color:#e6e6e6;z-index:999;opacity:0;transform:translateY(-20px);transition:all .3s;}
.quick-nav a{width:100%;height:50px;line-height:50px;display:block;text-align:center;font-size:14px;z-index:888;transition:all .3s;}
.quick-nav a:hover{background-color:rgba(0,0,0,.2);}
a.active{color:#fff;}
.nav-status{background-color:orange;position:absolute;left:0;z-index:-1;height:50px;width:100%;transition:all .3s;}
#out{display:none;}
.container .wrapper ul li a img{width:290px;height:160px;}