a:hover{color:#b00204 !important;}

i{font-style:normal;font-size:18px;}

.bs-example{width:990px;margin:auto;border:1px solid #ddd;margin-top:100px;font-family:Arial,'Microsoft Yahei';}

.bs-example form{position:relative;}

.bs-example table thead tr{color:#3c3c3c;} 

.bs-example table tbody tr{height:100px;} 

.bs-example table tbody tr td a img{width:80px;height:80px;}

.bs-example table tbody tr td:first-child{position:relative;width:150px;text-align:center;}

.bs-example table tbody tr td:first-child a input{position: absolute;width: 80px;height: 80px;top: 8px;left: 44px;opacity: 0;} 

.bs-example table tbody tr td:nth-child(5){color:#b00204;font-weight:bold;}

.bs-example table tbody tr td:nth-child(6){font-size:13px;}

.bs-example table tbody tr td .count input{width:36px;height:24px;text-align:center;border:1px solid #ccc;}

.bs-example table tbody tr td .count a{display: inline-block;width: 12px;text-align: center;line-height: 24px;background: #eee;color: #3c3c3c;}

.bs-example table tbody tr td a.desrc{font-size: 14px;display: block;max-height: 80px;overflow: hidden;text-overflow: ellipsis;color: #3c3c3c;width: 260px;}

.bs-example table tbody tr td.operate a{display:block;}

.bs-example table tbody tr td.operate a.same{display:none;}

.bs-example table tbody tr:hover td a.same{display:block;}
/* 提示框样式 */
.rect{position: absolute;padding: 20px;background-color: orange;top: 10%;left: 44%; color: #fff;font-size: 20px;font-weight:bold;border-radius:4px;}

.bs-example form button.addGoods{width: 110px;height: 40px;border-radius: 4px;border: 1px solid #19507f;background-color: #3071a9;color: #fff;font-weight: bold;margin: 18px 0 8px 8px;}
/* 合计栏 */
.footer {background-color: orange;width:990px;margin: auto;height: 38px;line-height: 38px;color: #999;position: absolute;left:-1px;padding: 0 2%;color: #fff;font-size: 16px;
}

.footer span:first-child {float: left;}

.footer span p {display: inline-block;}

.footer span:last-child {float: right;}

.bs-example table tbody tr.model{display:none;}

.select{background-color:#f3f3f3;border:1px solid red;}

header{border-bottom: 1px solid #eee;box-shadow: 0px 2px 6px rgba(0,0,0,.3);padding: 10px 80px;}

